* {
  margin: unset;
  padding: unset;
  font-family: Georgia, Cambria, Times, "Times New Roman";
  .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    .title {
      text-align: center;
      margin: 30px 0;
    }
    .card-container {
      background-color: #fff;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative;
      .card {
        align-items: center;
        border-radius: 10px;
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        overflow: hidden;
        position: relative;
        width: 300px;
        .header-card {
          background-color: #406dfe;
          height: 115px;
          width: 100%;
          h1 {
            color: #fff;
            margin: 8px;
            text-align: center;
            font-size: 25px;
            &.show {
              display: block;
            }
            &.none {
              display: none;
            }
          }
          div {
            &.show {
              display: flex;
            }
            &.none {
              display: none;
            }
            input {
              margin: 20px auto;
              display: inline-block;
              width: 35%
            }
          }
          span {
            position: relative;
            top: 9px;
            left: 18px;
            i {
              color: #fff;
              font-size: 12px;
              cursor: pointer;
            }
          }
        }
        .body-card {
          width: 100%;
          .image-content {
            border: 5px solid #fff;
            border-radius: 50%;
            height: 125px;
            margin: -45px auto 0;
            overflow: hidden;
            width: 125px;
            img {
              height: 125px;
              width: 125px;
            }
          }
        }
        .container__text {
          padding: 0 15px;
          p {
            font-size: 0.9rem;
          }
          .container__text__timing {
            margin: 0 auto 20px;
            &.show {
              display: block;
            }
            &.none {
              display: none;
            }
            .container__text__timing_time {

              p {
                margin-bottom: 5px;
                text-align: center;
              }

            }
          }
          .container__text__input {
            margin: 0 auto 20px;
            &.show {
              display: block;
            }
            &.none {
              display: none;
            }
            .input-text {
              margin: 0 auto;
              width: 75%;
              input {
                margin-bottom: 5px;
                text-align: center;
                width: 100%;
              }

            }
          }
        }
      }
    }
    .pagination-container {
      &.borrar {
        display: none;
      }
      .pagination {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 20px auto;
        width: 40%;
        a {
          border: 1px solid #6c7ac9;
          border-radius: 5px;
          color: #6c7ac9;
          padding: 10px;
        }
        &__link {
          font-weight: bold;
          &--active a {
            background: #6c7ac9 !important;
            color: #fff;
          }
          &--disabled a {
            border: 1px solid rgb(198, 197, 202);
            color: rgb(198, 197, 202);
          }
        }
      }
    }
  }
  .search-bar {
    background-color: #000;
    height: 50px;
    .search-content {
      align-items: center;
      display: flex;
      flex-flow: flex wrap;
      height: 100%;
      margin: 0 auto;
      width: 80%;
      .search-input {
        display: flex;
        margin: 0 0 0 auto;
        p {
          color: #fff;
        }
        input {
          margin-left: 20px;
          padding-right: 15px;
        }
        .button {
          bottom: 2px;
          color: #000;
          cursor: pointer;
          position: relative;
          right: 14px;
          text-decoration: none;
          &--none {
            display: none;
          }
        }
      }
      .search-sort {
        display: flex;
        margin-left: 10px;
        p {
          color: #fff;
          margin-right: 10px;
        }
        button {
          cursor: pointer;
          padding-right: 5px;
          i {
            &:before {
              margin-left: 5px;
              position: relative;
              top: -2px;
            }
          }
          &.desc {
            i {
              transform: rotate(180deg);
              &:before {
                right: 4px;
                top: -3px;
              }
            }
          }
        }
      }
    }
  }
}
